<p id="notice"><%= notice %></p>

<p>
  <b><%= @avatar.name %>のつぶやき</b>
</p>

<div id="timeline">
  <dl>
    <% for tweet in @tweets do %>
      <div id="tweet">
	<div id="tw_image">
          <dt><%= image_tag @avatar.image_url, {:width => 40, :height => 40} %></dt>
	</div>
	<div id="tw_str">
          <dd><%= @avatar.name %></dd>
          <dd><%= tweet.tw_av_str %></dd>
	</div>
      </div>
    <% end %>
  </dl>
</div>

<%= link_to 'アバターのページに戻る', avatar_path(@avatar) %>
