<h1>Listing answers</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Account</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @answers.each do |answer| %>
  <tr>
    <td><%= answer.question_id %></td>
    <td><%= answer.account_id %></td>
    <td><%= answer.content %></td>
    <td><%= link_to 'Show', answer %></td>
    <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
    <td><%= link_to 'Destroy', answer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Answer', new_answer_path %>
