<h1>Listing twitters</h1>

<table>
  <tr>
    <th>Account</th>
    <th>Last tw</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @twitters.each do |twitter| %>
  <tr>
    <td><%= twitter.account.login %></td>
    <td><%= twitter.last_tw_id %></td>
    <td><%= link_to 'Show', twitter %></td>
    <td><%= link_to 'Edit', edit_twitter_path(twitter) %></td>
    <td><%= link_to 'Destroy', twitter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Twitter', new_twitter_path %>
