<%= form_for(@avatar) do |f| %>
  <% if @avatar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@avatar.errors.count, "error") %> prohibited this avatar from being saved:</h2>

      <ul>
      <% @avatar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_account.is_administrator %>
    <div class="field">
      <%= f.label :parent %><br />
      <%= select("avatar", "account_id", @accounts) %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= select("avatar", "sex", @sex_list) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
